<section class="content height-100p login-page">
    <div id="login">
    	<div class="login">
    		<div class="login_from">
	            <input type="text" class="form-control query" ng-model="user.userName" placeholder="userName" tabindex="1">
	            <input type="password" class="form-control query" ng-model="user.password" placeholder="password" tabindex="1">
	            <input type="button" class="form-control query" value="login" tabindex="1" ng-click="login()">
	        </div>
    	</div>
    </div>
</section>